{% extends 'baseViews/navigationBase.html' %}
{% block styles %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}
{% block body %}
    <div id="delete-conf" class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header flex-column">
				<h4 class="modal-title w-100">Are you sure?</h4>
                <a><i class="fa fa-trash" style="font-size:50px" aria-hidden="true"></i></a>
			</div>
			<div class="modal-body">
				<p>You will delete your profile and all your articles! Are you sure?</p>
			</div>
			<div class="modal-footer justify-content-center">
                <form method="post" action="{% url 'profile delete' %}">
                    {% csrf_token %}
                    <a type="button" href="{% url 'profile delete'  %}" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                    <button type="submit"  class="btn btn-danger">Delete</button>
                </form>
			</div>
		</div>
	</div>
{% endblock %}