{% extends 'baseViews/navigationBase.html' %}
{% load static %}
{#  if user is not login #}
{% block body %}

    {% if not request.user.is_authenticated %}
        <section class="jumbotron text-center">
            <div class="container">
                <h1>Welcome to MyBody website!</h1>
                <p class="lead text">Here you can share your ideas, trainings, nutrition and free time in articles,
                    which every user can see, comment and like. Help people improve their lifestyle or improve your!</p>
                <p>
                    <a href="{% url 'register' %}" class="btn btn-primary btn-lg my-2">Register</a>
                    <a href="{% url 'login' %}" class="btn btn-primary btn-lg my-2">Login</a>
                </p>
            </div>
        </section>
    {% else %}
        <div class="container border text-center shadow p-3 mt-5  rounded">
            <img src='{% static 'images/maintaining-a-healthy-lifestyle.jpeg' %}' width="500"
                 class="rounded border border-dark m-5">
            <div class="card-body text-white m-3">
                <h1 class="text-white">You are Welcome, {{ request.user.username }}!</h1>
                If you want to organize your day, be more productive and find the way to the healthy life?
                <br>
                Our website is exactly for You. Create your own articles and help other people with your experience in
                the
                area of Nutrition, Training, Spending Free Time or whatever you think for useful. If you want to learn
                new
                things for improving your lifestyle, this is your place!
            </div>
            <div class="card-body .btn-group-lg">
                <a href="{% url 'create article' %}" class="btn btn-success" type="button">Create Article</a>
                <a href="{% url 'catalog' %}" class="btn btn-success" type="button">See Articles</a>
            </div>
        </div>
    {% endif %}

    <br>
    <div class="container-marketing text-center">
        <div class="row">
            {% if article_types %}
                {% for type in article_types %}
                    <div class="col-lg-4">
                        <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                             src="{{ type.image.url }}" role="img" aria-label="Placeholder: 140x140"
                             preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#777"></rect>
                        </img>

                        <h2>{{ type.title }}</h2>
                        <p>{{ type.description|truncatechars:40 }}</p>
                        <p><a class="btn btn-success" href="{% url 'article info' type.id %}">View details »</a></p>
                    </div><!-- /.col-lg-4 -->
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}