{% extends 'baseViews/navigationBase.html' %}
{% load static %}
{% block body %}

    <div class="container bootstrap snippets bootdey text-center">
        <div class="row">
            <div class="col-md-12">
                <div style="margin-top:100px; margin-left: 130px">
                    <div class="text-center col-md-10 text-light col-md-offset-1">
                        <img class="img-error border border-danger" style="height: 400px"
                             src="{% static 'images/no_permission.jfif' %}">
                        <div class="error-actions">
                            <br>
                            <h3>This page is not public available.</h3>
                            {% if not user.is_authenticate %}
                                <h3>To Access it, please login first.</h3>
                            {% endif %}
                            <br>
                            <a href="{% url 'home' %}" class="btn btn-primary btn-lg">
                                <span class="glyphicon glyphicon-arrow-left"></span>
                                Back Home
                            </a>
                            {% if not user.is_authenticated %}
                                <a href="{% url 'register' %}" class="btn btn-primary btn-lg">
                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                    Register
                                </a>
                                <a href="{% url 'login' %}" class="btn btn-primary btn-lg">
                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                    Login
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}